{% extends 'base.html' %}

{% block content %}

 <a href="https://www.airnow.gov/publications/activity-guides/air-quality-guide-for-ozone/" target="_blank" class="btn">Guide For Ozone</a> 

<p class="mnt">This guide provides ways to protect your health when ozone pollution reaches unhealthy levels.</p>
<br>
<h3> <a href="https://www.airnow.gov/publications/activity-guides/air-quality-guide-for-particle-pollution/" target="_blank"  class="btn">Guide For Particle Pollution</a> </h3>
<p class="mnt">This guide provides ways to protect your health when particle pollution reaches unhealthy levels.</p>
<br>
<h3> <a href="https://www.airnow.gov/publications/activity-guides/air-quality-and-outdoor-activity-guidance-for-schools/" target="_blank"  class="btn">Guide For Particle schools</a> </h3>
<p class="mnt">This guide provides ways to keep children active while protecting their healthwhen air pollution reaches unhealthy levels.</p>

<style>

    .btn{
        
        cursor:pointer;
        text-color:yellow;
    }
    .mnt{
        
    }

</style>

{% endblock %}